<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>assets</key>
                        <array>
                                <dict>
                                        <key>kind</key>
                                        <string>software-package</string>
                                        <key>url</key>
                                        <string>http://88.128.18.189:8080/kit_file_server/file/version-admin/20200113/0047709820874f34bab3c44043a0e1f6.ipa</string>
                                </dict>
                                <dict>
                                   <key>kind</key>
                                   <string>full-size-image</string>
                                   <key>needs-shine</key>
                                   <true/>
                                   <key>url</key>
                                   <string>http://88.128.18.189:8080/kit_file_server/file/version-admin/20200113/5317261ecc5644759604fd48ab088b42.jpg</string>
                                </dict>
                                <dict>
                                  <key>kind</key>
                                  <string>display-image</string>
                                  <key>needs-shine</key>
                                  <true/>
                                  <key>url</key>
                                  <string>http://88.128.18.189:8080/kit_file_server/file/version-admin/20200113/5317261ecc5644759604fd48ab088b42.jpg</string>
                                </dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                                <key>bundle-identifier</key>
                                <string>com.kit.sales</string>
                                <key>bundle-version</key>
                                <string>2.0.1</string>
                                <key>kind</key>
                                <string>software</string>
                                <key>title</key>
                                <string>精准营销</string>
                        </dict>
                </dict>
        </array>
</dict>
</plist>
